<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Beef Menu</title>
		<!-- Including the stylesheet -->
		<link rel="stylesheet" href="../stylesheets/product_stylesheet.css">
	</head>
	<body>
		<center>
			<h1 class="title">Menu</h1>
                <!-- New Nav -->
				<nav>
					<ul class = "navBar">
						<li><a id = "link" href = "/">Home Page</a></li>
						<div class = "menu">
						<li><a id = "link" href = "/menu">Menu</a></li>
							<div class = "sub-menu">
								<a id = "menu-link" href = "/apps">Appetizers</a>
								<a id = "menu-link" href = "/dim_sum">Dim Sum</a>
								<a id = "menu-link" href = "/noodles">Noodles</a>
								<a id = "menu-link" href = "/beef">Beef</a>
								<a id = "menu-link" href = "/desserts">Desserts</a>
								<a id = "menu-link" href = "/drinks">Drinks</a>
							</div>
						</div>
										
						<li><a id = "link" href = "/orderonline">Order Online</a></li>
						<li><a id = "link" href = "/faq">FAQ</a></li>
						<% if (userId) { %>
							<li><a id ="link" href="/account">Account</a></li>
							<li><a id ="link" href="/signout">Sign out</a></li>
						<% } else { %>
							<li><a id ="link" href="/signin">Sign in</a></li>
							<li><a id ="link" href="/register">Register</a></li>
						<% } %>
				</nav>

		<h2 class = "foodTitle"> Beef </h2>
		</center>
		<!-- New Table Logic-->
		<table class="product_page" id="beefTable">
			<thead>
				<tr>
					<th>Item</th>
					<th>Picture</th>
					<th>Price</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody id="menu-items">
				<!-- Menu items added here by JS -->
			</tbody>
		</table>
		
		<br><br><br><br><br><br><br><br><br><br><br><br>
		
		<footer>
			<div class = "footer">
				<div class = "person1"><p>Alpha Diallo<br>Email: adiallo@sfsu.edu</p></div>
				<div class = "person2"><p>Milton Tomasino<br>Email: mtomasino@sfsu.edu</p></div>
				<div class = "person3"><p>Thomas Bercasio<br>Email: tbercasio@sfsu.edu</p></div>
				<div class = "person4"><p>Tong Lin<br>Email: tlin@sfsu.edu</p></div>
			</div>
		</footer>
		<script src="../javascript/sub-menu.js"></script>
	</body>
</html>
