<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>About Us</title>
		<!-- Including the stylesheet -->
		<link rel="stylesheet" href="./stylesheets/about_us_stylesheet.css">
	</head>
	<body>
			<h1 class = "title">About Us</h1>
		<!-- New Nav -->
		<nav>
			<ul class = "navBar">
				<li><a id = "link" href = "/">Home Page</a></li>
				<div class = "menu">
				<li><a id = "link" href = "/menu">Menu</a></li>
					<div class = "sub-menu">
						<a id = "menu-link" href = "/apps">Appetizers</a>
						<a id = "menu-link" href = "/dim_sum">Dim Sum</a>
						<a id = "menu-link" href = "/noodles">Noodles</a>
						<a id = "menu-link" href = "/beef">Beef</a>
						<a id = "menu-link" href = "/desserts">Desserts</a>
						<a id = "menu-link" href = "/drinks">Drinks</a>
					</div>
				</div>              
                <li><a id = "link" href = "/orderonline">Order Online</a></li>
                <li><a id = "link" href = "/faq">FAQ</a></li>
				<% if (userId) { %>
					<li><a id ="link" href="/account">Account</a></li>
					<li><a id ="link" href="/signout">Sign out</a></li>
				<% } else { %>
					<li><a id ="link" href="/signin">Sign in</a></li>
					<li><a id ="link" href="/register">Register</a></li>
				<% } %>
		</nav>
		
				<div id="imgContainer">
					<img class="aboutUsSlides" src="./images/about_us_ctown.jpg" alt="Image Not Found. Sorry!">
					<img class="aboutUsSlides" src="./images/about_us_ctown2.png" alt="Image Not Found. Sorry!">
					<img class="aboutUsSlides" src="./images/about_us_ctown3.png" alt="Image Not Found. Sorry!">
					<img class="aboutUsSlides" src="./images/about_us_ctown4.png" alt="Image Not Found. Sorry!">
				</div>

				<div id="blurbContainer">
					<p id="blurb">
						Fisherman's Wok is a small Chinese restaurant located in the historic Chinatown neighborhood 
						of San Francisco. It was founded over 50 years ago by a Chinese immigrant named Mr. Wong, who 
						arrived in the city with a dream of owning his own restaurant.
						<br><br>
							
						Mr. Wong's goal was to create a restaurant that was different from all the other Chinese restaurants 
						in the area. He wanted to showcase the diverse flavors of Chinese cuisine, with a focus on fresh ingredients 
						and authentic cooking techniques.
						<br><br>
						
						Despite the name, there is no seafood on the menu at Fisherman's Wok, which has become a source of irony for many 
						customers. Mr. Wong originally intended to specialize in seafood dishes, but he quickly realized that his passion 
						lay in other areas of Chinese cuisine. He decided to keep the name as a nod to his original vision, and it has since 
						become a quirky aspect of the restaurant's identity.
						<br><br>
						
						Fisherman's Wok is located at <b>888 Grant Avenue</B> in San Francisco's historic Chinatown neighborhood. If you're ever in the 
						area and looking for a taste of authentic Chinese cuisine, head to Fisherman's Wok and discover the delicious flavors that 
						have made it a neighborhood favorite for over 50 years.
						<br><br>
					</p>
				</div>

		
		<br><br><br><br>
		<div id="uber-ad-container">
		<img id="uber-eats-ad" src ="./images/uber_eats_ad.png">
		<script src="./javascript/aboutus.js"></script>
		</div>
	</body>
	<br><br><br><br><br><br><br><br>
	
	<footer>
		<div class = "footer">
			<div class = "person1"><p>Alpha Diallo<br>Email: adiallo@sfsu.edu</p></div>
			<div class = "person2"><p>Milton Tomasino<br>Email: mtomasino@sfsu.edu</p></div>
			<div class = "person3"><p>Thomas Bercasio<br>Email: tbercasio@sfsu.edu</p></div>
			<div class = "person4"><p>Tong Lin<br>Email: tlin@sfsu.edu</p></div>
		</div>
	</footer>
</html>
