.pageTitle{
	font-family: Brush Script MT, cursive;
	font-size: 500%;
	color: #ff4d4d;
	text-shadow: 0 0 3px #ffdb4d, 0 0 5px #ffdb4d;
}

.foodTitle{
	font-family: Brush Script MT, cursive;
	font-size: 300%;
	color: #ff4d4d;
	text-shadow: 0 0 3px #ffdb4d, 0 0 5px #ffdb4d;
}

.accountInfo{
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.accountInfo li a{
	border: 1px solid grey;
	margin: 1px;
	background-color: white;
	font-family: Times New Roman;
	color: black;
	text-decoration: none;
	padding: 5px;
	padding-top: 20px;
	font-size: 150%;
}
.navBar {
	display: flex;
	justify-content: center;
	list-style: none;
	align-content: space-between;
	margin-bottom: 20px;
}
.navBar li a{
	background-color: white;
	font-family: Times New Roman;
	color: black;
	text-decoration: none;
	padding: 15px;
	font-size: 150%;
	border: 1px solid grey;
	margin: 2px;
}


body {
	background-color: wheat;
}

.foodGroup{
	display: flexbox;
	justify-content: center;
	background-color: tomato;
}

.foodItem{
	display: flexbox;
	justify-content:center:
}
td{
	justify-content: center;
}
.navBar li a {
	background-color: white;
	font-family: Times New Roman;
	color: black;
	text-decoration: none;
	padding: 15px;
	font-size: 150%;
	border: 1px solid grey;
	margin: 2px;
}

#link:hover {
	color: #ff4d4d;
}

.footer{
	display: flex;
	justify-content: center;
}

.footer div p{
	font-family: Times New Roman;
	font-size: 125%;
}

.submitButton {
  background-color: LightGreen;
  border: 10px;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

